
body{
background-color:	#F4A460;


}

img{
display:block;
margin-left:auto;
margin-right:auto;
width:20%;


}


h2{
text-align: center;
background-color:#DEB887;
font-family: serif;
font-style: italic;
font-size:40px;



}
